.btn-green {

	padding: 16px 48px;
	border: black;
 	border-radius: 8px;
 	transition: .3s;
 	display: inline-block;
 	background-color: #34A853;
 	font-weight: bold;
 	text-decoration: none;
 	color: white;

}



.btn-green:hover {
	color: white; 
	background-color: #EA4335;
}
